<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Categorías</title>
</head>

<body>

    <h1>Mis categorías</h1>

    <a th:href="@{/categorias/nuevaCategoria}">
        ➕ Nueva categoría
    </a>

    <br><br>

    <table border="1">

        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="categoria : ${categorias}">

                <td th:text="${categoria.id}"></td>

                <td th:text="${categoria.nombre}"></td>

                <td>

                    <a th:href="@{/categorias/editar/{id}(id=${categoria.id})}">
                        ✏️ Editar
                    </a>

                    <a th:href="@{/categorias/eliminar/{id}(id=${categoria.id})}">
                        🗑️ Eliminar
                    </a>

                </td>

            </tr>

        </tbody>

    </table>
	
	 </div>

	    <br>

	    <a th:href="@{/}" class="btn btn-secondary">
	        Volver al dashboard
	    </a>

	</div>

</body>

</html>